/* CSS declarations go here */
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    /*overflow: ;-y: hidden;*/
}	
 
		
 .flex-item {
    /*width: 150px;
    height: 225px;*/
    flex-shrink: 0;
    flex-basis: 300px;
    margin-right: 20px;
}

#container {
	margin-top: 50px;
}

.label {
	color: white;
	margin-right: 15px;
}

.inline {
	display: inline;
}